html {
    box-sizing: content-box;
}

.color-btn {
    width: 30px;
    height: 30px;
    font-size: 0;
    border: 1px solid $gray-500;
}

.color-btn--red {
    background-color: red;
}

.color-btn--green {
    background-color: green;
}

.color-btn--white {
    background-color: white;
}

.card {
    transition: ease-in 0.2s;
}
.card:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px lighten($primary, 40);
}
